<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	
	<select id="selectPrBoard" resultMap="productResultSet">
		select *
		from pList
		where product_no = #{pno} and board_status = 'Y'
		
	</select>
	
	<resultMap type="product" id="productResultSet">
		<id column="PRODUCT_NO" property="productNo"/>
		<result column="PRODUCT_NAME" property="productName"/>
		<result column="PRODUCT_PRICE" property="productPrice"/>
		<result column="PRODUCT_STOCK" property="productStock"/>
		<result column="PRODUCT_ONELINE" property="productOneLine"/>
		<result column="PRODUCT_TYPE" property="productType"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="BOARD_COUNT" property="boardCount"/>
		<result column="BOARD_STATUS" property="boardStatus"/>
		<result column="ADMIN_ID" property="adminId"/>
		<result column="ADMIN_NAME" property="adminName"/>
		
		<result column="TOTAL_AVG" property="totalAvg"/>
		<result column="RECOMMEND_AVG" property="recommendAvg"/>
		<result column="REORDER_AVG" property="reorderAvg"/>
		<result column="SPICY_AVG" property="spicyAvg"/>
		<result column="SWEET_AVG" property="sweetAvg"/>
		<result column="BITTER_AVG" property="bitterAvg"/>
		<result column="SALTY_AVG" property="saltyAvg"/>
		<result column="SOUR_AVG" property="sourAvg"/>
	
	</resultMap>
	
	<select id="selectPrImage" resultMap="imageResultSet">
		select * 
		from image
		where board_type=1 and identify_no=#{pno}
	</select>
	
	<resultMap type="image" id="imageResultSet">
		<id column="IMAGE_NO" property="imageNo"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="FILE_PATH" property="filePath"/>
		<result column="FILE_LEVEL" property="fileLevel"/>
		<result column="FILE_TYPE" property="fileType"/>
		<result column="IDENTIFY_NO" property="identifyNo"/>
	</resultMap>
	
<!-- 	이용준@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
	 <select id="reviewCount" resultType="_int">
     select count(*)
     from review_list
     where REVIEW_STATUS = 'Y'
  </select>
  
  <select id="getReviewList" resultMap="reviewResultSet">
<!--      select * -->
<!--      from review_list rl -->
<!--          join member m on (rl.email_id = m.email_id)     -->
<!--      where review_status  = 'Y' -->
<!--      order by review_no desc -->
select REVIEW_NO, REVIEW_RATING, RECOMMEND, REPURCHARSE, spicy, sweet, bitter, salty, sour, good, bad, rl.CREATE_DATE, rl.MODIFY_DATE, LIKE_COUNT, REVIEW_STATUS, rl.email_id, PRODUCT_NO, flavor1, flavor2, flavor3
     from review_list rl
         join member m on (rl.email_id = m.email_id)    
     where review_status  = 'Y'
     order by review_no desc
  </select>
  <resultMap type="Review" id="reviewResultSet">
       <id column="REVIEW_NO" property="reviewNo"/>
       <result column="REVIEW_RATING" property="reviewRating"/>
       <result column="RECOMMEND" property="recommend"/>
       <result column="REPURCHARSE" property="repurcharse"/>
       <result column="SPICY" property="spicy"/>
       <result column="SWEET" property="sweet"/>
       <result column="BITTER" property="bitter"/>
       <result column="SALTY" property="salty"/>
       <result column="SOUR" property="sour"/>
       <result column="GOOD" property="good"/>
       <result column="BAD" property="bad"/>
       <result column="CREATE_DATE" property="createDate"/>
       <result column="MODIFY_DATE" property="modifyDate"/>
       <result column="LIKE_COUNT" property="likeCount"/>
       <result column="REVIEW_STATUS" property="reviewStatus"/>
       <result column="PRODUCT_NO" property="productNo"/>
       <result column="EMAIL_ID" property="emailId"/>
       <result column="NICKNAME" property="nickName"/>
    </resultMap>
    


<select id="getReviewImageList" resultMap="reviewImageResultSet">
		select *
		from review_img
		where review_no=#{reviewNo}
	</select>
	
	<resultMap type="ReviewImage" id="reviewImageResultSet">
		<id column="IMAGE_NO" property="imageNo"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="FILE_PATH" property="filePath"/>
		<result column="REVIEW_NO" property="reviewNo"/>
	</resultMap>
	
	 <insert id="insertReview" >
       insert into review_list
       values (seq_rid.nextval, #{reviewRating}, #{recommend}, #{repurcharse}, #{spicy}, #{sweet}, #{bitter}, #{salty}, #{sour}, #{good},
       			#{bad}, sysdate, sysdate, default,	'Y', #{emailId}, 1)
<!--        			 productNo가 패런트가 없다고 안돼서 임시번호 .... -->
    </insert>
    
    <insert id="insertReviewImage">
    	insert into review_img
    	values (seq_ino.nextval, #{changeName}, #{originName}, #{filePath}, sysdate, seq_rid.currval)
    </insert>
    
    <insert id="reportReview">
    	insert into report
    	values (seq_repid.nextval, #{reportType}, #{reportContent}, 'N', sysdate, #{emailId}, #{reviewNo})
    </insert>
    
 <!-- boardLike -->

       <!-- 좋아요 카운트 -->
	<select id="likeCount" resultType = "_int">
		select count(*) 
		  from user_like
		 where review_no = #{reviewNo}
		   and email_Id = #{emailId}
	
	</select>
	
	<!-- 게시글 좋아요 -->
	<insert id="insertLike">
		insert
		  into user_like
		  (
		  	review_no
		  , email_id
		  )
		  values
		  (
		  	#{reviewNo}
		  , #{emailId}
		  )
	</insert>
	
	<!-- 게시글 좋아요 취소 -->
	<delete id="deleteLike">
		delete
		  from user_like
		 where review_no = #{reviewNo}
		   and email_id = #{emailId}
	</delete>
	
	
	<!-- 좋아요 전체 카운트 -->
	<select id="selectLikeCount" resultType = "_int">
		select 
			   review_no
			 , email_id
		  from
		       user_like
		 where review_no = #{reviewNo}
	</select>
	<!-- 이용준 끝 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
</mapper>
